<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<table *ngIf="mostrar" >
  <thead>
    <tr>
      <td>Nome</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pessoas" >
      <td>{{ p.nome }}</td>
      <td>{{ p.email }}</td>
    </tr>
  </tbody>
</table>

<button (click)="req()" >Requisitar</button>

<router-outlet></router-outlet>
